.alert-con{
    --font-Jotia: Jotia,Verdana,Geneva,sans-serif;
    font:normal normal 500 0.84rem/1.2 var(--font-Jotia);
    justify-content: center;
    color: #b50000;
    border-radius: 0.26rem;
    margin-top: 0.38rem;
    margin-bottom: 0.68rem;
}
.alert-con.primary{
    width:100%;
}
.alert-con.primary-mr{
    width:100%;
}
.alert-con.secondary{
    width:100%;
}

@media (max-width: 767px){
    .alert-con{
        font-size: 0.76rem;
        line-height: 1.15;
        margin-top: 0.3rem;
        margin-bottom: 0.56rem;
    }
}       
